 .message-form {
    margin: 10px;
 }

 textarea {
    width: 100%;
    max-width: 100%;
    margin-bottom: 6px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    font-family: inherit;
    outline: none;
 }

.message-form .error {
    text-align: center;
    color: #ff2a58;
    font-size: 12px;
    padding: 10px 0;
 }