body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
   /* w3c */
}

.robo-list {
   overflow: scroll; border: 5px solid black; height: 800px;
}

.grow:hover {
   transform: scale(1.05);
}

.grow {
      -moz-osx-font-smoothing: grayscale;
   backface-visibility: hidden;
   transform: translateZ(0);
   transition: transform .25s ease-out;
}


.robot-card {
   text-align: center;
   margin: .5rem;
   padding: 1rem;
   background-color: #9eebcf;
   display: inline-block;
   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
   border-width: .25rem;
   border-radius: .5rem;
}